<header class="header">
    <nav class="navbar">
        <div class="container-fluid">
            <div class="toogle">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                  <img src="../assets/img/navbar-toogle.svg" alt="">
                </button>
                <div class="collapse show" id="navbarToggleExternalContent">
                    <div class="p-4" style="padding: 0 !important">
                      <h5 class="title" >Esig<span>GROUP</span></h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar-select" >
            <div class="d-flex align-items-start">
              <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <button class="nav-link nav-dashboard" id="v-pills-dashboard-tab" data-bs-toggle="pill" data-bs-target="#v-pills-dashboard" type="button" role="tab" aria-controls="v-pills-dashboard"  routerLink="/dashboard">
                  <img src="../assets/img/dashboard.svg" alt="">
                  <span class="collapse show" id="navbarToggleExternalContent">
                    Dashboard
                  </span>            
                </button>
                <button class="nav-link nav-tasks" id="v-pills-tasks-tab" data-bs-toggle="pill" data-bs-target="#v-pills-tasks" type="button" role="tab" aria-controls="v-pills-tasks"  routerLink="/tasks">
                  <img src="../assets/img/tasks.svg" alt="">               
                  <span class="collapse show" id="navbarToggleExternalContent">
                    Tarefas
                  </span>
                </button>
              </div>
            </div>
        </div>
    </nav>
</header>