<div class="top">
    <form class="form-inline my-2 my-lg-0">
            <input class="form-control" list="taskOptions" id="taskDataList">
            <i class="bi bi-search"></i>
            <datalist id="taskOptions">
              <option value="San Francisco">
              <option value="New York">
            </datalist>
    </form>
    
    <button class="nav-link profile" id="v-pills-tasks-tab" data-bs-toggle="pill" data-bs-target="#v-pills-tasks" type="button" role="tab" aria-controls="v-pills-tasks" aria-selected="false">               
        <img src="../assets/img/profile-img.png" alt="">
    </button>
</div>